# กำหนดพอร์ตเองได้ ถ้าชนกับพอร์ตบนเครื่องผู้สอน
# DTRACK_API_PORT=18081
# DTRACK_UI_PORT=18082
# DefectDojo
DD_PORT=18083
# (ตัวเลือก) ปักเวอร์ชัน image:
# DJANGO_VERSION=latest
# NGINX_VERSION=latest
